In [89]:
import numpy as np
import pandas as pd
import matplotlib.image as mpimg

In [11]:
# Q12:
img = mpimg.imread('dog.jpeg')

def thelightmethod(vec):
    return np.max(vec)*0.5 + np.min(vec)*0.5

gray_img = np.apply_along_axis(thelightmethod, arr=img, axis=-1)
gray_img[0,0]

102.5

In [19]:
# Q13:
def average(vec):
    return np.sum(vec)/3
gray_img = np.apply_along_axis(average, arr=img, axis=2)
gray_img[0,0]

107.66666666666667

In [20]:
# Q14:
def luminosity(vec):
    return vec[0]*0.21 + vec[1]*0.72 + vec[2]*0.07
gray_img = np.apply_along_axis(luminosity, arr=img, axis=1)
gray_img[0,0]

126.22999999999999

In [38]:
df = pd.read_csv("advertising.csv")
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [70]:
# Q15:
d = df.to_numpy()
data_sale = d[:,3]
data_sale.max(), data_sale.argmax()

(27.0, 175)

In [53]:
# Q16:
data_tv = d[:,0]
data_tv.sum()/len(data_tv)

147.0425

In [68]:
# Q17:
np.sum(data_sale>=20)

40

In [86]:
# Q18:
data_radio = d[:,1]
condition = data_sale >= 15
data_radio[condition].sum()/np.sum(condition)

26.22293577981651

In [88]:
# Q19:
data_newspp = d[:,2]
newspp_average = np.mean(data_newspp)
condition = data_newspp > newspp_average
data_sale[condition].sum()

1405.1

In [94]:
# Q20:
a = np.mean(data_sale)
scores = np.where(data_sale > a, "GOOD", "BAD")
scores = np.where(data_sale == a, "AVERAGE", scores)
scores[7:10]

array(['BAD', 'BAD', 'GOOD'], dtype='<U7')

In [101]:
# Q21:
a = np.mean(data_sale)
average_index = np.argmin(abs(data_sale - a))
score = np.where(data_sale < a, "Bad", np.where(data_sale > a, "Good", "Average"))
score[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U7')